#pragma once

#define DEVICE_ID "ADD_DEVICE_NAME"
#define BME280_I2C_ADDR 0x76

#define WIFI_SSID "PUT_SSID_HERE"
#define WIFI_PASSWORD "PUT_PASSWORD_HERE"

#define MQTT_HOST "PUT_IP_ADDRESS_HERE"
#define MQTT_PORT ADD_PORT
#define MQTT_USERNAME "ADD_USERNAME"
#define MQTT_PASSWORD "ADD_PASSWORD"
#define MQTT_DATA_TOPIC "ADD_DATA_PUB_TOPIC"
#define MQTT_TRIGGER_TOPIC "ADD_TRIGGER_SUB_TOPIC"